.navigation__container {
    width: 100vw;
    height: 50px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    color: #ccc;
    padding: 20px;
    z-index: 1;
}
@media (max-width: 769px) {
    .navigation__container {
        flex-wrap: wrap;
        height: 90px;
    }
}
.navigation__title {
    width: 25vw;
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}
@media (max-width: 1025px) {
    .navigation__title {
        font-size: 16px;
    }
}
@media (max-width: 769px) {
    .navigation__title {
        width: 30vw;
        font-size: 15px;
        margin: 0 0 20px 5vw;
        padding: 0;
    }
}
.navigation__list {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-right: 20px;
    transition: 0.5s;
    transition-property: opacity, transform;
}
@media (max-width: 1025px) {
    .navigation__list {
        margin-right: 10px;
    }
}
@media (max-width: 769px) {
    .navigation__list {
        width: 100vw;
        font-size: 20px;
        margin: 0 5.5vw 0 auto;
        padding: 0;
    }
}
.navigation__item {
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}
@media (max-width: 1025px) {
    .navigation__item {
        padding: 5px 20px 5px 20px;
        font-size: 14px; 
    }
}
.navigation__link {
    text-decoration: none;
    color: #bbb;
    font-family: 'Raleway', sans-serif;

}
.navigation__link:hover {
    border-bottom: 1px solid #bbb;
}
@media (max-width: 420px) {
    .navigation__list  {
        margin: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: white;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }
    .navigation__item {
        padding: 20px;
        font-size: 24px;
    }
}
@media (max-width: 420px) {
.navigation__list--open {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
}
}
.navigation__button {
    display: none;
}
@media (max-width: 420px) {
    .navigation__container {
        height: 60px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media (max-width: 420px) {
    .navigation__title {
        width: 250px;
        font-size: 16px;
        margin: 0;
    }
}
@media (max-width: 420px) {
    .navigation__button {
        display: unset;
        width: 30px;
        height: 30px;
    }
    .navigation__button-image {
        width: 26px;
        background: none;
        border: none;
        padding: 0;
    }
}