.home__container {
    width: 100vw;
    height: 100%;
    margin: 0 auto 200px auto;
    box-sizing: border-box;
}
@media (max-width: 1025px) {
    .home__container {
        margin: 0;
        height: 90vh;
    }
}
@media (max-width: 769px) {
    .home__container {
        margin: 0;
        height: 72vh;
    }
}
.home__title {
    font-style: italic;
    font-size: 90px;
    color: #ccc;
    font-family: 'Italianno', cursive;
    font-weight: 100;
    margin: 150px auto -10px 12vw;
}
@media (max-width: 1025px) {
    .home__title {
        font-size: 70px;
        color: #ccc;
        margin: 100px auto 10px 60px;
    }
}
@media (max-width: 769px) {
    .home__title {
        margin-top: 150px;
    }
}
@media (max-width: 420px) {
    .home__title {
        font-size: 50px;
        color: #ccc;
        margin: 120px auto 10px 20px;
    }
}
.background{
    background-image: url("images/grzejnik.jpeg");
    width: 100vw;
    height: 600px;
    background-size: 100vw;
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto 150px auto;
}
@media (max-width: 1025px) {
    .background {
        margin: 0 auto 50px auto;
        height: 400px;
    }
}